textarea:focus, input:focus {
    outline: 0 !important;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.k-autocomplete {
    width: 21.85em;
    height: 37px;
}

#new-animal-map, #animal-map {
    height: 300px;
    margin-bottom: 12px;
}

#all-animals-map {
    width: 100%;
    height: 400px;
}