@{
    ViewBag.Title = "Team Sirius";
}
<h2>@ViewBag.Title</h2>
<p>Ние... сме си ние. Знаете ни, стига толкова :).</p>
<p>Благодарим за участието в хакатона и пожелаваме успех на всички!</p>
<p>P.S.: Обръщайте повече внимание на бездомните животни :)</p>