@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Dancho<br />
<abbr title="Dancho">D</abbr> Street, Sofia, Bulgaria<br />
087-DANCHO-2230<br /><br />

Venci<br />
Vencit<abbr title="yyy">y</abbr> Street, Ruse, Bulgaria<br />
087-VEN-22-CI<br /><br />

MARTO<br />
<abbr title="Ball">Cookie</abbr>Sack Street, 9th Cloud, Heaven<br />
087-CHRIST-5519<br /><br />

Az<br />
<abbr title="Power">Love</abbr>Ranger Street, Legloto v hola, V nas<br />
087-KUNCH3FF-2230<br /><br />