@{
    ViewBag.Title = "Начало";
}
<div class="col-md-12">
    <br />
    @Html.ActionLink("Добави животно", "Add", "Animals", null, new { @class = "btn btn-success btn-lg" })
    <br />
</div>
<div class="all-animals-map">

</div>