@{
    ViewBag.Title = "Начало";
}
<div class="row">
    <div class="col-md-12">
        <p style="font-size: 13pt;text-align: justify">Animal Kingdom е място, където всеки може да си намери нов домашен любимец или да съобщи за открито бездомно животно в района си. Притежателите на домашни любимци могат да организират и посещават различни събития - надбягвания с домашни любимци, конкурси и др.</p>
        @Html.ActionLink("Добави животно", "Add", "Animals", null, new { @class = "btn btn-success btn-lg" })
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="all-animals-map"></div>
    </div>
</div>
@section Scripts {
    <script>
        jQuery(function ($) {
            // Asynchronously Load the map API
            var script = document.createElement('script');
            script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
            document.body.appendChild(script);
        });

        function initialize() {
            var map;
            var bounds = new google.maps.LatLngBounds();
            var mapOptions = {
                mapTypeId: "roadmap"
            };

            // Display a map on the page
            map = new google.maps.Map(document.getElementById("all-animals-map"), mapOptions);
            map.setTilt(45);

            // Multiple Markers
            $.post("/Animals/Locations", null, function (markers) {
                // Info Window Content
                var infoWindowContent = [];

                // Display multiple markers on a map
                var infoWindow = new google.maps.InfoWindow(), marker, i;

                // Loop through our array of markers & place each one on the map
                for (i = 0; i < markers.length; i++) {
                    var position = new google.maps.LatLng(markers[i].Latitude, markers[i].Longitude);
                    bounds.extend(position);
                    marker = new google.maps.Marker({
                        position: position,
                        map: map,
                        title: markers[i].Name
                    });
                    infoWindowContent[i] = "<h3>" + markers[i].Name + "</h3><p><a href='/Animals/Details/" + markers[i].Id + "'>Повече за мен</a></p>";
                    // Allow each marker to have an info window
                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infoWindow.setContent(infoWindowContent[i]);
                            infoWindow.open(map, marker);
                        }
                    })(marker, i));

                    // Automatically center the map fitting all markers on the screen
                    map.fitBounds(bounds);
                }

                console.log(infoWindowContent[0]);
            });

            var boundsListener = google.maps.event.addListener((map), "bounds_changed", function (event) {
                this.setZoom(7);
                google.maps.event.removeListener(boundsListener);
            });
        }
    </script>
}