@model AnimalKingdom.Server.Models.IndexViewModel
@{
    ViewBag.Title = "Моят профил - " + User.Identity.Name;
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Промяна на настройките на профила</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промяна на парола", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Създаване на парола", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
