
@{
    ViewBag.Title = "Администрация";
}

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Добави страница", "Add", new { controller = "FacebookPages", area = "Admin" }, new { @class = "btn btn-success" })